@import "common.scss";
@import "_minix.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    flex-direction: column;
    header {
        width: 100%;
        height: pxTorem(44px);
        @include box_flex;
        .left {
            i.icon {
                font-size: pxTorem(14px);
            }
        }
        .center {
            span {
                font-size: pxTorem(14px);
            }
            .right {
                i.icon {
                    font-size: pxTorem(14px);
                }
            }
        }
    }
}